
<div class="container">
    <div class="headliner" >
        <span class="subtitle">виконуємо швидко</span>
        <p class="headline h1">
            Прокол під залізницею
        </p>
    </div>
    <div class="description">
        Майже всі комунікації в місті прокладаються під землею. Зносити об’єкти на кшталт ЖД-шляхів неможливо лише для того, щоб створити канали. Тому для досягнення мети здійснюється прокол під залізницею за допомогою спеціального обладнання для горизонтального направленого буріння (ГНБ).
    </div>
    <p class="paragraph">Цю послугу і пропонує замовити наша компанія.</p>

        <blockquote>
            <p>Корисна інформація: в «ЗахідБурІнвест» вам доступний повний спектр послуг, що включає в тому числі і операції з оформлення паперів, підготовки документації, монтажу труб і т.п.</p>
        </blockquote>

    <div class="sub-title">
        <div class="h2">
            Про технологію
        </div>
        <div class="description">ГНБ передбачає використання масивних установок, від яких в грунт відводиться контрольований оператором бур. В результаті ми легко створюємо вигнуті і прямі канали, в яких пізніше будуть розміщені труби. Погляньте на їх параметри:</div>
        <ul class="info-list">
            <li>Протяжність – більше 1 км;</li>
            <li>Діаметр – до 1,2 м.</li>
        </ul>
        <p>Також проект проколу під залізницею може враховувати й інші об’єкти. Ви повинні знати, що якихось особливих перешкод перед технологією немає – легко можна обійти не тільки наземні, але і зариті об’єкти на зразок труб, проводів і т. д. Це актуально навіть при відсутності плану місцевості.</p>
    </div>

    <div class="sub-title">
        <div class="h2">
            Етапи буріння під залізницею
        </div>
        <div class="description">Спершу фахівці прибудуть на об’єкт. Вони ретельно оглянуть його, після чого буде складено документацію, розрахована вартість. Багато хто боїться, що метод проколу під залізницею обійдеться в кругленьку суму, проте насправді вона не сильно відрізняється від ціни ін. послуг на ринку – вже по телефону обговоріть приблизну вартість, відштовхуючись від розмірів майбутньої свердловини під кабель або ін. комунікації. Далі проводяться наступні кроки:</div>
        <ol>
            <li>Створюються приямки – їх буде 2 шт. Це вхідна і вихідна область для бура, а в майбутньому і каналів;</li>
            <li>Проводиться буріння – в грунт заводиться колона. Нею управляє оператор. Відразу відзначимо, що завдяки локаторам, фахівець точно бачить, куди рухається конструкція. Він же змінює його напрямок, відхиляючи в тому числі і під кутом 30 ° – особливих обмежень в плані форми шахти немає;</li>
            <li>Видаляється земля – ​​це паралельний процес. Зовні встановлюється помпа. Вона подає рідину всередину, а після відкачує відходи, щоб колона могла спокійно проходити по наміченому шляху;</li>
            <li>Збільшується прохід – коли бур досягає вихідного кінця, він оснащується розширювачем. Колона затягується назад. Завдяки цьому процесу свердловина збільшується на 30-50%. Паралельно стінки зміцнюються за допомогою спеціального розчину.</li>
        </ol>
        <p>Після цього фахівці компанії проводять установку труб, якщо даний процес входить в список замовлених послуг</p>
    </div>
    <div class="sub-title">
        <div class="h2">
            Замовити прокол під залізницею (ГНБ)
        </div>
        <div class="description">Якщо ви замовили монтаж внутрішніх вузлів, то отримаєте якісні ПНД-труби. Аналогів їм сьогодні практично немає. Вироби з даних матеріалів експлуатуються до 80 років і витримують нагрівання до 120 градусів. Морози йому також не страшні. Тиск може досягати до 20 атм.</div>
       
            <p>Відзначимо, що технологія далеко не нова. Сьогодні вона відпрацьована до досконалості і є однією з найбезпечніших, точних.</p>
    </div>
    <div class="call-to-action container">
        <div class="call-to-action-info">
            <p class="title h1">Реалізуєм любу вашу забаганку!</p>
            <p class="description">Вже зараз ви можете зателефонувати або написати з метою розрахувати приблизну вартість проколу під залізницею і отримати допомогу у вирішенні інших питань.</p>
        </div>
        <div class="call-to-action-button">
            
            <p class="order">
                <span>безкоштовна консультація</span><br>
                Замовити
            </p>
        </div>
    </div>
</div>