<div class="container contacts">
    <div class="headliner">
        <span class="subtitle">звяжіться з нами</span>
        <p class="headline h1">
            Контакти
        </p>
    </div>
            <p class="contact-item phone"><span class="phone-icon"></span> +38 (067) 807 77 99</p>
            <p class="contact-item phone"><span class="phone-icon"></span>+38 (066) 837 84 30</p>
            <p class="contact-item email"><span class="mail-icon"></span>geniusdevgnb@gmail.com</p>
            <!-- <a href=""><img src="assets/telegram-icon.svg"></a> -->
</div>