<header class="header" [ngClass]="{ 'hidden': !isNavbarVisible }" [ngStyle]="{ '--header-height': headerHeight + 'px' }">
  <!-- Contacts section -->
  <div class="contacts">
    <div class="contact-wrapper container">
      <ul class="contact-list">
        <li><a href="tel: 380678077799">+38 (067) 807 77 99</a></li>
        <li><a href="tel: 380668378430">+38 (066) 837 84 30</a></li>
        <li><a href="mailto:geniusdevgnb@gmail.com">geniusdevgnb@gmail.com</a></li>
      </ul>
    </div>
  </div>
  <!-- Navbar section -->
  <nav class="container nav-bar" >
    <!-- Logo -->
    <div class="logo" routerLink="/"><img src="assets/logo.svg" alt="Logo"></div>

     <!-- Burger menu -->
     <div class="burger-menu" (click)="toggleBurgerMenu()" [ngClass]="{ 'open': isOpened }">
      <i class="material-icons">{{ isOpened ? "close" : "menu" }}</i>
    </div>

    <div class="menu" [ngClass]="{ 'open': isOpened }">
     
    <!-- Nav buttons -->
        <div class="nav-buttons" >
          <a class="nav-button p" routerLink="/">Головна</a>
          <a class="nav-button p" (click)="scrollToSection('services')">Послуги</a>
          <!-- <a class="nav-button p" routerLink="/about-gnb">Про ГНБ</a> -->
          <a class="nav-button p" routerLink="/contacts">Контакти</a>
        </div>

         <!-- Button -->
         <div class="button-wrapper">
          <div class="button">
            <a [routerLink]="['/contacts']" class="button-order">Замовити</a>
          </div>
         </div>
    </div>
    <!-- <div class="overlay" *ngIf="isOpened"></div> -->
      
    

  </nav>
</header>
