
<div class="container">
    <div class="headliner" >
        <span class="subtitle">виконуємо швидко</span>
        <p class="headline h1">
            Прокол під дорогою
        </p>
    </div>
    <div class="description">
        Автострада або будь-яка інша траса не дає змогу прокладати комунікації. Руйнувати її занадто складно і дорого. Однак сьогодні це і не потрібно. Горизонтальне направлене буріння (ГПБ) дозволяє виконувати прокол під дорогою. Замовити послугу ви можете в компанії «ЗахідБурІнвест».
    </div>
    <div class="sub-title">
        <div class="h2">
            Як здійснюється прокол під трасою
        </div>
        <div class="description">Технологія передбачає використання спеціальних установок, оснащених керованою голівкою. У підсумку можна створювати непрямі проходи під грунтом, обходячи умовно будь-які перешкоди.</div>
        <ul class="info-list">
            <li>Діаметр канал може бути до 1 200 мм;</li>
            <li>Довжина свердловини здатна перевищувати 1 000 метрів.</li>
        </ul>
        <p>В результаті використання технології горизонтальних проколів під дорогою, легко можна займатися прокладкою навіть під великими магістралями.</p>
    </div>

    <div class="sub-title">
        <div class="h2">
            Що буде під землею
        </div>
        <div class="description">У самих проходах зазвичай монтуються ПНТ-труби. Матеріал сьогодні широко використовується, замінюючи менш надійні сталеві вироби. Він служить до 80 років, витримуючи значні діапазони температур (з -60 по +120 ° C) і високий тиск (до 20 бар). В даний момент це кращий варіант для розміщення електричного кабелю та інших комунікацій.</div>
        <blockquote>
            <p>Корисна інформація: в нашій компанії клієнтам надається послуга безкоштовного розрахунку ціни проколу під дорогами. На зазначену ділянку прибуде фахівець для огляду. Він визначить вартість і, при потребі, приступить до підготовки кошторису. Даний сервіс безкоштовний.</p>
        </blockquote>
        
    </div>
    <div class="sub-title">
        <div class="h2">
            Як здійснюється прокол під трасою
        </div>
       
        <ul class="info-list">
            <li><b>Установка точки входу і виходу</b> – викопуються дві ями. В першу бур увійде, а з другої вийде;</li>
            <li><b>Запускається колона</b> – вона починає пробивати грунт, прямуючи оператором дистанційно. Елемент оснащений зонтами і локаторами, що дозволяють відслідковувати його місце розташування. У підсумку можна рухати бур під кутом в 30 °, відхиляти в сторони. Разом з цим відбувається процес видалення землі та інших відходів через спеціальні канали в машині для виготовлення проколів під автодорогами. Їх відкачує зовнішня помпа;</li>
            <li><b>Розширюється канал</b> – після того, як лопатка вийде з іншого кінця, на неї встановлюється розширювальна насадка. Починається затягування колони всередину. Паралельно відбувається збільшення свердловини на 25-50%. На її краю викидається розчин, який зміцнює стінки.</li>
        </ul>
    </div>
    <div class="sub-title">
        <div class="h2">
            Замовити прокол під дорогою (ГНБ)
        </div>
        <div class="description">Головний плюс горизонтального буріння полягає в його безпеці для навколишнього оточення. Технологія існує давно і добре відпрацьована – вона точна, завдяки чому, фахівець при належному підході не зможете зачепити кабель або каналізацію, що пролягає під землею. До того ж ми надамо вам кваліфікованих співробітників, що є важливим в справі досягнення позитивного результату.</div>
       
            <p></p>
    </div>
    <div class="call-to-action container">
        <div class="call-to-action-info">
            <p class="title h1">Реалізуєм любу вашу забаганку!</p>
            <p class="description">Вже зараз ви можете зателефонувати або написати з метою розрахувати приблизну вартість проколу під дорогою і отримати допомогу у вирішенні інших питань.</p>
        </div>
        <div class="call-to-action-button">
            
            <p class="order">
                <span>безкоштовна консультація</span><br>
                Замовити
            </p>
        </div>
    </div>
</div>