.headliner{
    grid-column: span 12;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    line-height: 1;
    .subtitle{
        grid-column: span 12;
        color: #BF2121;
        font-size: .25em;
        padding-left: 1em;
        font-weight: bold;
    }
}
.container{
    font-size: 1rem;
    line-height: 1.5;
    .description{
        grid-column: span 8;
        line-height: 1.5;
        margin: 1rem 0;
    }
    .sub-title{
        grid-column: span 8;
        blockquote{
            margin: 0;
            padding: 45px 20px 45px 100px;
            position: relative;
            border: 1px solid #ffc107;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            &::before{
                content: '';
                display: block;
                width: 48px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #ffc107;
            }
            &::after{
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background: url('../../../assets/warning.svg') center center no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 12px;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
        .h2{
            font-size: 1.5rem;
            line-height: 1;
            margin-bottom: 2.25rem;
            margin-top: 2.25rem;
            font-weight: bold;
            color: #616161;
        }
        .info-list{
            list-style-type: none;
            li{
                line-height: 1.5;
                margin-bottom: 2rem;
                font-size: 1rem;
                &::before{
                    content: '';
                    display: block;
                    height: 12px;
                    width: 12px;
                    background-color: red;
                    rotate: 45deg;
                    position: relative;
                    top: 18px;
                    left: -28px;
                }
            }
        }
    }
    
}
.call-to-action{
    grid-column: span 12;
    gap: 0;
    color: #f2f2f2;
    margin-top: 6rem;
    margin-bottom: 6rem;
    .call-to-action-info{
        grid-column: span 6;
        width: 100%;
        background-color: #BF2121;
        padding: 1.875em 1.5625em 3.125em 4.375em;
        width: fit-content;
        .title{
            font-size: 2.65rem;
            line-height: 1.2;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .call-to-action-button{
        display: flex;
        grid-column: span 6;
        width: 100%;
        background-color: #9F1B1B;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        .order:after{
            content: "";
            width: 40px;
            height: 40px;
            background: url("../../../assets/order-arrow.svg") no-repeat;
            rotate: -45deg;
            font-weight: bold;
            background-size: 40px;
            right: -60px;
            position: absolute;
            display: inline-block;
        }
        .order{
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1;
            position: relative;
            overflow: hidden;
            span{
                text-transform: lowercase;
                font-weight: 400;
                font-size: .75rem;
            }
            
        }
        
    }
}