<div class="container">
    <div class="headliner" >
        <span class="subtitle">виконуємо швидко</span>
        <p class="headline h1">
            Послуги трайшейного копача
        </p>
    </div>
    <div class="description">
Траншейний копач – це спеціалізована будівельна техніка, призначена для ефективного та безпечного виконання земляних робіт з копання траншей. Вони є незамінними помічниками під час будівництва, ремонту та технічного обслуговування підземних комунікацій, таких як трубопроводи, фундаменти, дренажні системи тощо.
    </div>
    <div class="sub-title">
        <div class="h2">
           Як здійснюється траншейне копання 
        </div>
        <div class="description"></div>
        <ul class="info-list">
            <li>Копання траншей до 1м;</li>
            <li>Ширина траншеї 0.12м;</li>
            <li><b>Опускання ланцюга</b> – поступово опускайте ланцюг в грунт, регулюючи глибину копання;</li>
            <li><b>Переміщення</b> – повільно переміщуйте траншеєкопач вздовж розмітки, викопуючи траншею;</li>
            <li><b>Вивантаження</b> – ґрунт з ланцюга буде автоматично вивантажуватися на бік траншеї.</li>
        </ul>
    </div>
        <blockquote>
            <p>Корисна інформація: в нашій компанії клієнтам надається послуга безкоштовного розрахунку ціни проколу під дорогами. На зазначену ділянку прибуде фахівець для огляду. Він визначить вартість і, при потребі, приступить до підготовки кошторису. Даний сервіс безкоштовний.</p>
        </blockquote>
    <div class="call-to-action container">
        <div class="call-to-action-info">
            <p class="title h1">Реалізуєм прокол будь якої складності!</p>
            <p class="description">Вже зараз ви можете зателефонувати або написати з метою розрахувати приблизну вартість проколу під дорогою і отримати допомогу у вирішенні інших питань.</p>
        </div>
        <a [routerLink]="['/contacts']" class="call-to-action-button">
        
            <p class="order">
                <span>безкоштовна консультація</span><br>
                <a class="button-order">Замовити</a>
            </p>
          </a>
    </div>
</div>