
<div class="container">
    <div class="headliner" >
        <span class="subtitle">виконуємо швидко</span>
        <p class="headline h1">  
            Спайка труб
        </p>
    </div>
    <div class="description">
        Спайка труб – це процес з'єднання труб за допомогою розплавленого полімеру. Цей метод використовується для монтажу трубопроводів з поліпропіленових (ПП), поліетиленових (ПВХ) та інших полімерних труб.
    </div>
    <div class="sub-title">
        <div class="h2">
            Види спайки труб
        </div>

        <ul class="info-list">
            <li><b>Стикове зварювання</b> – це метод з'єднання труб шляхом нагрівання та стиснення їхніх торців до утворення монолітного шва.  Цей метод застосовується для з'єднання труб з товстими стінками, виготовлених з різних термопластичних матеріалів;</li>
            <li><b>Муфта терморезисторна </b> – це фітинг, який використовується для з'єднання поліетиленових (ПЕ) труб. Вона використовує терморезистор для нагрівання та плавлення поліетилену на внутрішній поверхні муфти та зовнішній поверхні труби, створюючи міцне та герметичне з'єднання.</li>
        </ul>
    </div>
        <blockquote>
            <p>Корисна інформація: в нашій компанії клієнтам надається послуга безкоштовного розрахунку ціни проколу під дорогами. На зазначену ділянку прибуде фахівець для огляду. Він визначить вартість і, при потребі, приступить до підготовки кошторису. Даний сервіс безкоштовний.</p>
        </blockquote>
    <div class="sub-title">
        <div class="h2">
            Застосування спайки труб
        </div>
       
        <ul class="info-list">
            <li><b>Водопостачання</b> – спайка труб використовується для монтажу систем холодного та гарячого водопостачання;</li>
            <li><b>Каналізація</b> – спайка труб використовується для монтажу систем каналізації.</li>
           
        </ul>
    </div>
    <div class="call-to-action container">
        <div class="call-to-action-info">
            <p class="title h1">Реалізуєм прокол будь якої складності!</p>
            <p class="description">Вже зараз ви можете зателефонувати або написати з метою розрахувати приблизну вартість проколу під дорогою і отримати допомогу у вирішенні інших питань.</p>
        </div>
        <a [routerLink]="['/contacts']" class="call-to-action-button">
        
            <p class="order">
                <span>безкоштовна консультація</span><br>
                <a class="button-order">Замовити</a>
            </p>
          </a>
    </div>
</div>