
<div class="container">
    <div class="headliner" >
        <span class="subtitle">виконуємо швидко</span>
        <p class="headline h1">
            БЕЗТРАНШЕЙНЕ ПРОКЛАДАННЯ КАНАЛІЗАЦІЇ
        </p>
    </div>
    <div class="description">
        Бестраншейне прокладання каналізації є інноваційним методом будівництва, який відрізняється від традиційного застосуванням спеціальних технологій. Основна перевага цього методу полягає в тому, що не потрібно викопувати траншеї. Замість цього, спеціалізоване обладнання дозволяє прокладати труби під землею без будь-якого порушення ландшафту. Такий підхід дозволяє ефективно вирішувати проблеми з водовідведенням і зберігати навколишнє середовище у первозданому стані, зберігаючи ландшафт, рослинність, та будівлі без будь-яких зруйнувань.
    </div>
    <div class="sub-title">
        <div class="h2">
            Як здійснюється бестраншейне прокладання каналізації
        </div>
        <div class="description">Технологія передбачає використання спеціальних установок, оснащених керованою голівкою. У підсумку можна створювати непрямі проходи під грунтом, обходячи умовно будь-які перешкоди.</div>
        <ul class="info-list">
            <li>Діаметр канал може бути до 600 мм;</li>
            <li>Довжина свердловини здатна перевищувати 800 метрів.</li>
            <li><b>Виділення маршруту</b> – спочатку визначається оптимальний маршрут прокладання каналізаційних труб. Це включає в себе оцінку ландшафту, глибини та інші технічні характеристики.;</li>
            <li><b>Виконання проколу</b> – Застосовуються технології горизонтального буріння, які дозволяють прокладати труби під землею без необхідності викопування траншеї. Бурення проводиться точно вздовж заданого маршруту;</li>
            <li><b>Прокладання труб</b> – після того, як лопатка вийде з іншого кінця, на неї встановлюється розширювальна насадка. Починається затягування колони всередину. Паралельно відбувається збільшення свердловини на 25-50%. На її краю викидається розчин, який зміцнює стінки.</li>
        </ul>
    </div>
        <blockquote>
            <p>Корисна інформація: в нашій компанії клієнтам надається послуга безкоштовного розрахунку ціни проколу під дорогами. На зазначену ділянку прибуде фахівець для огляду. Він визначить вартість і, при потребі, приступить до підготовки кошторису. Даний сервіс безкоштовний.</p>
        </blockquote>
        
    <div class="sub-title">
        <div class="h2">
            Способи безтраншейної прокладки каналізації
        </div>
        <ul class="info-list">
             <h3><b>Санація</b></h3>
             <li>Виконується шляхом реновації або ретайлінгу. У першому випадку на кінцях ділянки встановлюються оглядові колодязі. У них вводяться ріжучі ножі, що подрібнюють старі труби. Потім шляхом протягування в отвір встановлюється каналізація;</li>
            <h3><b>Горизонтально-спрямоване буріння</b></h3>
            <li>Один і найпопулярніших способів. Свердловина для трубопроводу проробляється в ґрунті бурильною установкою. Бурова головка обладнана навігаційним блоком, що допомагає контролювати правильність напрямку руху. Свердловину збільшують у діаметрі спеціальним розширювачем. Коли вона стає досить великою, в неї протягують каналізацію.</li>
        </ul>
    </div>
    <div class="call-to-action container">
        <div class="call-to-action-info">
            <p class="title h1">Реалізуєм прокол будь якої складносі!</p>
            <p class="description">Вже зараз ви можете зателефонувати або написати з метою розрахувати приблизну вартість безтраншейної прокладки каналізації і отримати допомогу у вирішенні інших питань.</p>
        </div>
        <a [routerLink]="['/contacts']" class="call-to-action-button">
        
            <p class="order">
                <span>безкоштовна консультація</span><br>
                <a class="button-order">Замовити</a>
            </p>
          </a>
    </div>
</div>