/* You can add global styles to this file, and also import other style files */
$main-color: #BF2121;

html, body { height: 100%; margin:0; padding: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Oswald';
  src: url('./font/Oswald-VariableFont_wght.ttf');
}
a{
  text-decoration: none;
  color: white;
}
.h1{
  font-family: 'Oswald';
}
/* Global grid styles */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  max-width: 1140px;
  margin: 0 auto;
}

// @media screen and (max-width: 768px) {
//   .container{
//     max-width: 720px;
//   }
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
