
<div class="container">
    <div class="headliner" >
        <span class="subtitle">виконуємо швидко</span>
        <p class="headline h1">
            Безстраншейне прокладання водопроводу
        </p>
    </div>
    <div class="description">
        Прокладання водопроводу без використання траншей - це передовий та простий метод монтажу водопровідної системи. Основна особливість полягає у відсутності необхідності виконувати земельні роботи. Цей метод застосовується для підключення окремих ділянок водопроводу до загальної трубопровідної системи. Часто такий спосіб використовується, коли магістральний водопровід знаходиться по іншу сторону дороги, а прокладання труб потрібно провести у глибині грунту. Використання цього методу дозволяє зберегти ландшафт та інфраструктуру у першісному стані.
    </div>
    <div class="sub-title">
        <div class="h2">
           Методи безстраншейне прокладання водопроводу
        </div>
        <div class="description"><b>Горизонтально-направлене буріння (ГНБ)</b> – створення підземної пілотної скважини з точною траєкторією, через яку протягується труба.
        </div> 
        <ul class="info-list">
            <li>Діаметр канал може бути до 600 мм;</li>
            <li>Довжина свердловини здатна перевищувати 800 метрів;</li>
            <li>Проходження під перешкодами (дороги, водойми);</li>
            <li>Мінімальне порушення ґрунту.</li>
        </ul>
        <div class="description"><b>Cнація труби за методом релайнінга</b> – це метод санації труб, який передбачає введення в стару трубу нової гнучкої труби, що щільно прилягає до стінок. Цей метод використовується для відновлення пошкоджених трубопроводів без їх заміни..
        </div> 
        <ul class="info-list">
            <li>Затягування труби до 800мм;</li>
            <li>Релайнінг захищає трубу від корозії;</li>
            <li>Релайнінг може бути виконаний швидше, ніж заміна труби;</li>
            <li>Релайнінг відновлює прохідність труби.</li>
        </ul>
    </div>
        <blockquote>
            <p>Корисна інформація: в нашій компанії клієнтам надається послуга безкоштовного розрахунку ціни проколу під дорогами. На зазначену ділянку прибуде фахівець для огляду. Він визначить вартість і, при потребі, приступить до підготовки кошторису. Даний сервіс безкоштовний.</p>
        </blockquote>
        
    <!-- <div class="sub-title">
        <div class="h2">
            Замовити безстраншейне прокладання водопроводу
        </div>
        <div class="description"></div>
       
            <p></p>
    </div> -->
    <div class="call-to-action container">
        <div class="call-to-action-info">
            <p class="title h1">Реалізуєм прокол будь якої складності!</p>
            <p class="description">Замовте безтраншейну прокладку водопроводу й отримайте найкращі умови на послугу. Роботи проводяться в будь-який зручний час, всі деталі заздалегідь узгоджуються.</p>
        </div>
        <a [routerLink]="['/contacts']" class="call-to-action-button">
        
            <p class="order">
                <span>безкоштовна консультація</span><br>
                <a class="button-order">Замовити</a>
            </p>
          </a>
    </div>
</div>