<footer id="footer">
    <div class="container">
      <div class="logo">
        <img src="assets/logo.svg" alt="Logo">
      </div>
      <div class="contacts">
        <p class="footer-title">Контакти</p>
        <a href="tel: 380678077799" class="footer-item">+38 (067) 807 77 99</a>
        <a href="tel: 380668378430" class="footer-item">+38 (066) 837 84 30</a>
        <a href="mailto:geniusdevgnb@gmail.com" class="footer-item" >geniusdevgnb@gmail.com</a>
        <!-- Add more contact information as needed -->
      </div>
      <div class="copyright">
        <p>© 2020 - 2024 Бурильна компанія</p>
      </div>
      <div class="button-up" (click)="scrollToTop()">
        <span class="vertical-arrow"><img src="assets/ionic-md-arrow-up.svg" alt="Arrow up" /></span>
        <span class="vertical-text">наверх</span>
      </div>
    </div>
  </footer>
  
  