<footer id="footer">
    <div class="container">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo">
      </div>
      <div class="contacts">
        <p class="footer-title">Контакти</p>
        <p class="footer-item">+380 63 999 99 99</p>
        <p class="footer-item">example@gmail.com</p>
        <!-- Add more contact information as needed -->
      </div>
      <div class="copyright">
        <p>© 2020 - 2023 Бурильна компанія</p>
      </div>
    </div>
    <div class="button-up" (click)="scrollToTop()">
      <span class="vertical-arrow"><img src="assets/ionic-md-arrow-up.svg" alt="Arrow up" /></span>
      <span class="vertical-text">наверх</span>
    </div>
      
  </footer>
  
  